#heros img{
  opacity: 0.6;
}

#heros .reward{
  width: 120px;
  border-style: solid;
  border-radius: 5px;
  background-color: white;
  border-color: white;
  position:relative;
  top:65px;
  left: 8px;
  text-align: center;
  opacity: 0.9;
  z-index: 1;
}

#heros .reward span{
  color: orangered
}

#heros img:hover{
  opacity: 1;
  z-index: 1;
}

#heros .reward:hover{
  opacity: 0;
  z-index: -1;
}
