#box{
  margin-top: 5%;
}

#noir{
  background-color: black;
  width: 100px;
  height: 100px;
}

#orange{
  background-color: orange;
  width: 100px;
  height: 100px;
}

#jaune{
  background-color: yellow;
  width: 100px;
  height: 100px;
}

#blanc{
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 300px) {
  #noir{
    width: 25px;
    height: 25px;
    padding: 0px;
  }

  #orange{
    width: 25px;
    height: 25px;
    padding: 0px;
  }

  #jaune{
    width: 25px;
    height: 25px;
    padding: 0px;
  }

  #blanc{
    width: 25px;
    height: 25px;
    padding: 0px;
  }
}

@media screen and (min-width: 480px) {
  #noir{
    width: 30px;
    height: 30px;
  }

  #orange{
    width: 30px;
    height: 30px;
  }

  #jaune{
    width: 30px;
    height: 30px;
  }

  #blanc{8
    width: 30px;
    height: 30px;
  }
}

@media screen and (min-width: 720px) {
  #noir{
    width: 60px;
    height: 60px;
  }

  #orange{
    width: 60px;
    height: 60px;
  }

  #jaune{
    width: 60px;
    height: 60px;
  }

  #blanc{
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1024px) {
  #noir{
    width: 90px;
    height: 90px;
  }

  #orange{
    width: 90px;
    height: 90px;
  }

  #jaune{
    width: 90px;
    height: 90px;
  }

  #blanc{
    width: 90px;
    height: 90px;
  }
}